.card {
    --margin: 2.4rem;
    width: 100%;
    height: calc(100% - var(--margin) * 2);
    aspect-ratio: 9 / 16;
    margin: var(--margin) 0 var(--margin) var(--margin);
    position: relative;
}

.card__inner-wrap::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2.4rem;
    z-index: 100;
    height: 1px;
    background: #000;
    right: -2.4rem;
}

.card:last-child::before{
    display: none;
}

.card__background-item {
    opacity: .8;
}

.card__category-link {
    text-overflow: ellipsis;
}

.green .card__background-item {
    background-image: linear-gradient(90deg,rgba(238,255,132,0),#eeff84 50%,rgba(238,255,132,0));
}

.turquoise .card__background-item {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),#B4F2EF 50%,rgba(255,255,255,0));
}

.pink .card__background-item {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),#F2A3FF 50%,rgba(255,255,255,0));
}

.orange .card__background-item {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),#FF8551 50%,rgba(255,255,255,0));
}

.red .card__background-item {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),#FB3C3C 50%,rgba(255,255,255,0));
}

.timeline__data {
    display: none;
}

.navbar {
    position: fixed;
    top:0;
    z-index: 10000;
    left:0;
    right:0;
}

.card:last-child {
  margin: var(--margin);
}

.card div img {
  width: 100%;
  margin-bottom: 4px;
}

.card div h1 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.card div p {
  margin-bottom: 8px;
}

.cell {
    --margin: .4rem;
    --tint: #CDD4F6;
    --left-width: 100%;
    --right-width: 0;
    --height: 1;
    flex-grow: 1;
    position: relative;
    min-width: 1.5rem;
    height: calc( var(--height));
    margin: 0 var(--margin) 0 0;
    cursor: pointer;
    user-select: none;
    background: #fff;
}
.cell::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: var(--left-width);
  background: var(--tint);
  content: '';
  z-index: 1000;
}

.cell::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: var(--right-width);
  background: var(--tint);
  content: '';
  z-index: 1000;
}

.cells-container::after {
    content: '';
    right: 0;
    position: absolute;
    width: 20rem;
    top: 0;
    pointer-events: none;
    height: 100%;
    background: linear-gradient(to left, #000, rgba(0,0,0,0));
    transition: all 500ms ease;
}

.cells-container.end::after {
    content: '';
    opacity: 0;
}

.cells-container::before {
    content: '';
    left: 0;
    position: absolute;
    width: 7rem;
    top: 0;
    z-index: 10;
    pointer-events: none;
    height: 100%;
    background: linear-gradient(to right, #000, rgba(0,0,0,0));
}

.year {
    --margin: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6.8rem;
    background: #000;
    color: #fff;
    border-radius: 100vh;
    height: 100%;
    margin: 0 var(--margin) 0 0;
    cursor: pointer;
    transition: all 300ms ease;
    user-select: none;
}

.first-year {
    --margin: .2rem;
    --left: 0px;
    left: var(--left);
    cursor: pointer;
    user-select: none;
}

.cards {
    overflow-x: hidden;
}

.grid {
    display: none;
    width: 100vw;
    height: 100vh;
}

.center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}       

@media(max-width: 768px) {
  .card {
    --margin: .8rem;
  }
}
